<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <div *ngIf="alert==1">
        <ngb-alert type="success" [dismissible]="false">
          Prescription added
        </ngb-alert>
      </div>
      <div *ngIf="alert==2">
        <ngb-alert type="danger" [dismissible]="false">
          Error in adding prescription
        </ngb-alert>
      </div>
      <h1>Enter your prescription in the textbox below:</h1>
      <div class="sig-content">
        <form [formGroup]="sigForm">
          <table>
            <div class="sig-input">
              <tr>
                <td>
                  <mat-label>Please enter the drug name:</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="drugName" [(ngModel)]="drugName" ng-focus="alert = 0" required />
                    <mat-error>
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-label>Please type in a sig text:</mat-label>
                  <mat-form-field appearance="outline">
                    <input matInput formControlName="sigText" [(ngModel)]="sigText" ng-focus="alert = 0" required />
                    <mat-error>
                      Field is required.
                    </mat-error>
                  </mat-form-field>
                </td>
              </tr>
            </div>
          </table>
          <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" [disabled]="!sigForm.valid"
            (click)="onTextSubmitted()">Submit</button>
        </form>
      </div>
      <div class="res-content">
        <h1>Your Personal Drug Schedule</h1>
        <tr>
          <td colspan="2">
            <mat-form-field appearance="fill">
              <input matInput [(ngModel)]="currentDate" [matDatepicker]="picker" placeholder="Please pick a date" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </td>
          <td>
            <button mat-raised-button class="w3-button w3-black w3-padding-large w3-large w3-margin-top"
              (click)="onGenerateSchedule()">
              Generate Schedule
            </button>
          </td>
        </tr>
        <!-- <div>
          <mat-list *ngIf="drugTimes">
            <div *ngFor="let drugTime of drugTimes">
              <mat-list-item>
                Drug Name: {{ drugTime.drug.name }}
              </mat-list-item>
              <mat-list-item>
                Dose: {{ drugTime.drug.dose }}
              </mat-list-item>
              <mat-list-item>
                Route: {{ drugTime.drug.route }}
              </mat-list-item>
              <mat-list-item>
                Disorder: {{ drugTime.drug.disorder }}
              </mat-list-item>
              <mat-list-item>
                Caution: {{ drugTime.drug.caution }}
              </mat-list-item>
              <mat-list-item>
                Time: {{ drugTime.time }}
              </mat-list-item>
            </div>
          </mat-list>
        </div> -->

        <table mdbTable>
          <thead>
            <tr>
              <th *ngFor="let head of displayedColumns" scope="col">{{head}} </th>
            </tr>
          </thead>
          <tbody>
            <tr mdbTableCol *ngFor="let drugTime of drugTimes">
              <td>{{drugTime.drug.name}}</td>
              <td>{{drugTime.drug.dose}}</td>
              <td>{{drugTime.drug.route}}</td>
              <td>{{drugTime.drug.disorder}}</td>
              <td>{{drugTime.drug.caution}}</td>
              <td>{{drugTime.time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>